{% extends 'layout.html' %}
{% load static %}

{% block title %}
	Home
{% endblock %}

{% block content %}
	<section id="hero-slider" class="hero-slider">
        <div class="container-md" data-aos="fade-in">
            <div class="row">
                <div class="col-12">
                    <div class="swiper sliderFeaturedPosts">
                        {% for post in posts %}
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="" class="img-bg d-flex align-items-end" style="background-image: url('{{ post.image.url }}');">
                                        <div class="img-bg-inner">
                                            <h2>{{ post.title }}</h2>
                                            <p>{{ post.intro }}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="custom-swiper-button-next">
                            <span class="bi-chevron-right"></span>
                        </div>
                        <div class="custom-swiper-button-prev">
                            <span class="bi-chevron-left"></span>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="posts" class="posts">
        <div class="container" data-aos="fade-up">
            <div class="row g-5">
                <div class="col-lg-4">
                    <div class="post-entry-1 lg">
                        <a href=""><img src="" alt="" class="img-fluid"></a>
                        <div class="post-meta"><span class="date"></span> <span class="mx-1">&bullet;</span> <span></span></div>
                        <h2><a href=""></a></h2>
                        <p class="mb-4 d-block"></p>

                        <div class="d-flex align-items-center author">
                            <div class="photo"><img src="" alt="" class="img-fluid"></div>
                            <div class="name">
                                <h3 class="m-0 p-0"></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="row g-5">
                        <div class="col-lg-4 border-start custom-border">
                            <div class="post-entry-1">
                                <a href=""><img src="" alt="" class="img-fluid"></a>
                                <div class="post-meta"><span class="date"></span> <span class="mx-1">&bullet;</span> <span></span></div>
                                <h2><a href=""></a></h2>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
   </section>
{% endblock %}